/* General */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #f7f4f2;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

/* header */
header {
  background-color: #fff;
}
.head-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  align-items: center;
  height: 70px;
  margin: 0 auto;
}

nav ul {
  display: flex;
}

.section {
  display: none;
}

.active {
  display: block;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 27px;
}

h3 {
  font-size: 15px;
}

.container {
  border: 3px solid #363636;
  width: 30%;
  margin: 0 auto;
}

.class-book {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1%;
  margin: 0 auto;
  font-size: 15px;
  font-weight: 200;
}

.class-book:nth-child(odd) {
  background: #ddd;
  padding: 1%;
}

.center {
  /* width: 15%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  gap: 1%;
  align-items: center;
}

input[type='text'] {
  /* width: calc(100% - 10px); */
  padding: 0 0 0 10px;
  border: 3px solid #363636;
  margin-bottom: 10px;
  align-self: center;
}

.remove {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.submit {
  box-shadow: 2px 3px 2px 1px rgba(0, 0, 0, 0.2);
}

.add {
  cursor: pointer;
  width: fit-content;
  align-self: center;
  margin-left: 9%;
}
